<br><br><br>



<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div id="your-privacy-matters" class="styles__privacy-container___2EmwY">


        <div style="text-align: center">
          <img src="../../../assets/image/book.svg" width="100px" class="test1" alt="" >
        </div>

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">La Confidentialité</h2>
        <div class="styles__section-copy___13zaO"><p>La confidentialité est une priorité chez Easypunchline.
          Notre but et de gagner votre confiance à chaque utilisation de notre application,
          c'est pour cette raison que nous traitons vos informations avec la maniére la plus transparente possbile.
          Nous protégeons vos punchlines, messages, commentaires et nous ne présentons pas publiquement tout ce que vous avez affiché.
          Easypunchline est conçu pour permettre aux autres de partager leurs pensées et vos pensées aussi longtemps que vous le souhaitez.
          Nos principes ne changent pas, même si nos applications évoluent constamment.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">
        <div style="text-align: center">
          <img src="../../../assets/image/comments.svg" width="100px" class="test1" alt="" >
        </div>
        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Une communication ouverte</h2>

        <div class="styles__section-copy___13zaO"><p>Lorsque vous utilisez Easypunchline, vous partagez
          des informations avec nous. Il relève de notre responsabilité de vous aider à comprendre comment
          celles-ci sont utilisées. Notre Politique de confidentialité explique comment nous recueillons,
          utilisons et partageons les informations. Vous pouvez consulter ses points principaux ici.
          Si vous êtes curieux de savoir comment une fonction particulière utilise vos données,
          notre Politique de confidentialité par produit détaille un peu plus les choses.
          Nous expliquons également comment nos fonctionnalités utilisent les données à la fois directement
          dans nos applications et via notre Centre d'assistance. Bien sûr, si vous ne trouvez pas ce dont vous avez besoin,
          vous pouvez toujours nous le demander.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>


<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <div style="text-align: center">
          <img src="../../../assets/image/internet.svg" width="100px" class="test1" alt="" >
        </div>
        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Exprimer-vous
        </h2>

        <div class="styles__section-copy___13zaO"><p>Nous croyons que la confidentialité va de pair avec l’expression personnelle.
          C'est pour cette raison que vous décidez avec qui partager des choses, comment le faire et pendant combien de temps.
          Vous choisissez qui peut regarder vos punchlines, quels sont les amis autorisés à voir votre profil
          sur la carte Snap Map et combien de temps laisser vos punchlines affichés. Vous pouvez tout aussi bien aussi
          garder les choses entre vous et un ami que partager un moment avec le monde entier.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>
<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">
        <div style="text-align: center">
          <img src="../../../assets/image/key.svg" width="100px" class="test1" alt="" >
        </div>
        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Contrôlez vos données

        </h2>

        <div class="styles__section-copy___13zaO"><p>Vous avez le droit de contrôler
          les informations vous concernant. Dans cette optique,
          nous vous offrons des moyens simples pour accéder à celles-ci et les modifier,
          pour décider de la quantité de données que vous souhaitez partager avec nous et pour demander
          la suppression de vos informations ou même de votre compte.
          Vous pouvez contrôler la plupart des réglages sur le respect de vie privée directement dans nos applications mobiles,
          et même vous connecter et télécharger vos informations Snapchat ici. Si vous avez des questions spécifiques
          à propos des données vous concernant, n'hésitez pas à nous contacter.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>

