<br><br><br>



<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div id="your-privacy-matters" class="styles__privacy-container___2EmwY">


        <br>

        <h1 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Voici quelques règles importantes à respecter</h1>


        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Contenu adulte</h2>

        <div class="styles__section-copy___13zaO"><p>
          Nous interdisons les comptes diffusant du contenu pornographique ou en faisant la promotion.
          La présentation de nudité dans un contexte non sexuel comme l'allaitement est néanmoins permise...</p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">
        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Nudité ou contenu sexuellement suggestif impliquant des mineurs

        </h2>

        <div class="styles__section-copy___13zaO"><p>

          Ne publiez, n'enregistrez ou n'envoyez jamais de contenu sexuel ou qui comprend de la nudité impliquant des personnes de moins de 18 ans – même s'il s'agit de vous-même.
          Cela inclut l'ajout de dessins ou de légendes à une Punchline pour lui donner un caractère sexuel, même pour plaisanter.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>


<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">


        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Contenu illégal


        </h2>

        <div class="styles__section-copy___13zaO"><p>
          N'utilisez pas Easypunchline pour des activités illégales quelles qu'elles soient, comme par exemple toute activité liée à la drogue, la contrebande ou les armes illégales.


        </div>
      </div>
    </section>
  </div>
</div>
<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Violations de la vie privée




        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Si quelqu'un est visible dans votre punchline et vous demande de supprimer celle-ci, veuillez le faire.

        </p>

        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Menaces et violence





        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Ne menacez jamais de nuire à une personne, à un groupe de personnes ou à tout type de bien possédé par qui que ce soit.
          Ne publiez pas de punchlines comprenant de la violence gratuite.        </p>

        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Harcèlement et intimidation


        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Nous appliquons une politique de tolérance zéro en matière de harcèlement et d'intimidation sur Snapchat, quelle que soit la forme que cela peut prendre.
          De manière générale, ne partagez jamais de punchline avec l'intention de heurter qui que ce soit. Si quelqu'un vous bloque, n'essayez pas de le ou la contacter par le biais d'un autre compte.</p>

        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Usurpation d'identité


        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Ne vous faites pas passer pour quelqu'un d'autre – notamment un(e) ami(e),
          une célébrité, une marque ou toute autre organisation.
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Discours haineux



        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Ne publiez aucun contenu qui rabaisse, dévalorise ou diffame qui que ce soit ou promeuve la discrimination sur la base de la race, l'ethnicité, l'origine nationale,
          la religion, l'orientation sexuelle, l'identité de genre, le handicap ou le statut de vétéran d'une personne.
        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Terrorisme

        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Nous appliquons une politique de tolérance zéro en matière de contenu faisant l'apologie du terrorisme.
        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Spam

        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Nous appliquons une politique de tolérance zéro vis-à-vis du spam.
        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <div class="styles__section-copy___13zaO"><p>
          Si vous ne respectez pas ces Règles communautaires, nous pouvons supprimer le
          contenu offensant que vous avez publié ainsi que votre compte, voire contacter les forces de l'ordre.
          Si votre compte est supprimé pour non-respect de ces règles ou de nos Conditions d'utilisation du service,
          vous ne pourrez plus utiliser Snapchat. Veuillez prendre ces règles au sérieux et vous y conformer.
          Nous mettrons tout en œuvre pour nous assurer de manière constante et juste qu'elles soient bien respectées,
          et prendrons les décisions qui nous paraissent les plus adaptées en fonction de chaque situation lorsque cela sera nécessaire.
          Merci d'avoir lu ces Règles communautaires !
        </div>
      </div>
    </section>
  </div>
</div>
