<div style="background-color: #AC222F">

<div class="container">
  <br><br><br>
  <h3 class="text-center" style="color: white">Notre audience</h3><br>

  <h5 class="text-center" style="color: white">Notre communauté s'élargit grâce à vous.</h5>
  <br><br>


  <div class="row justify-content-md-center">
    <div class="col-md-3 ">
      <div class="card card-audience" >
        <div class="card-body">
          <h2 class="card-title" style="text-align: center ">+5000</h2>
          <br>
          <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Punchlineurs Actifs</h6>

        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-audience">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center">+2500</h2>
          <br>
          <h6 class="card-subtitle mb-2 text-muted" style="text-align: center ">Punchlines Partagées</h6>

        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="card card-audience">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center">+4400</h2>
          <br>
          <h6 class="card-subtitle mb-2 text-muted" style="text-align: center ">Like et de partage</h6>

        </div>
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="card card-audience">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center"> +100%</h2>
          <br>
          <h6 class="card-subtitle mb-2 text-muted" style="text-align: center ">D'amour pour la plume </h6>

        </div>
      </div>
    </div>
  </div>

  <br><br>  <br><br>




</div>

</div>
