


<br><br><br>



<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div id="your-privacy-matters" class="styles__privacy-container___2EmwY">

        <div style="text-align: center">
          <img src="../../../assets/image/logo.svg" width="100px" class="test1" alt="" >
        </div>
        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Notre Logo </h2>
        <div class="styles__section-copy___13zaO">
          <p> Tout d'abord la plume inspire la sagesse, notre vision de la punchline c'est une phrase
            poétique et choquante en même temps, dans une punchline il faut avoir une thèse, anti-thèse et une synthèse
            mais bon ... laissant ça aux professionnels :D et partage ta punchline comme tu le sens !</p>

        </div>
      </div>
    </section>
  </div>
</div>


<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Équipe</h2>

        <div class="styles__section-copy___13zaO"><p> Easypunchline est maintenu par une  équipe de développeurs sur GitHub.
          Nous cherchons activement à développer cette équipe et aimerions avoir
          de vos nouvelles si vous êtes enthousiastes à propos de notre application à l'échelle.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>



<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">


        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Histoire
        </h2>

        <div class="styles__section-copy___13zaO"><p> Initialement EasyPunchline a éré créée par 3  développeur ,
          EasyPunchline est devenue l'une des plateformes les plus populaires au monde.

          EasyPunchline a été créée en 2018 par @amine et @ahmed @ziad. Avant d'être un cadre ouvert.
          Après quelques mois de développement,
          le projet a explosé à mesure que les développeurs
          de tous les niveaux de compétences ont sauté sans aucune aide extérieure.

          Publié à l'origine le vendredi 19 août 2018, nous sommes à la 3éme version,
          dont deux réécritures majeures avec v1 et v2. Avec EasyPunchline v3, nous avons ajouté une fonctionnalité
          et nous avons réécrit la bibliothèque pour la rendre réactive par défaut avec une première approche mobile.

          Avec EasyPunchline, nous avons à nouveau réécrit le projet pour tenir compte de deux changements
          architecturaux clés. Notre intention
          est de contribuer de manière décisive à faire progresser le monde des réseaux sociaux.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">
         <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Engagez-vous

      </h2>

        <div class="styles__section-copy___13zaO"><p>Participez au développement d'EasyPunchline en ouvrant un problème ou en soumettant une demande de tirage,
          ainsi que vos idées sont toujours les bienvenues ;).
          Lisez nos directives de contribution pour des informations sur Eayspunchline.
        </p>

        </div>
      </div>
    </section>
  </div>
</div>

