<div style="background-color: #ffffff">


<div class="container-fluid" >

<div style="margin: 20px">
  <img src="../../../assets/image/logo.svg" width="80" height="80" alt="" >
</div>
    <div class="row">
      <div class="col-sm">
        <ul class="a">
          <li style="font-weight:bold">Société</li>
          <li >
            <a  routerLink="/easyinc">Easy Inc.</a>
            </li>
          <li>
            <a  routerLink="/histoire">Histoire</a>
          </li>
          <li>
            <a  routerLink="/actualite">Actualité</a>
          </li>
          <li>
            <a routerLink="/regles" > Règles communautaires</a>
          </li>
        </ul>
      </div>


      <div class="col-sm">
        <ul class="a">
          <li style="font-weight:bold">Juridique</li>
          <li>
          <a routerLink="/politique" > Politique relative aux cookies</a>
          </li>
          <li>
            <a routerLink="/confidentialite"> Centre de confidentialité</a>
          </li>
          <li>
            <a routerLink="/condition">Conditions générales</a>
          </li>



        </ul>
      </div>

      <div class="col-sm">
        <ul class="a">
          <li style="font-weight:bold">Rejoins nous :</li>

          <br>

          <a href="https://www.facebook.com/EasyPunchline/" target="_blank" class="card-link">

            <img src="../../../assets/icon/003-facebook.svg"  width="35px" alt="">
          </a>
          <a href="https://www.instagram.com/easypunchline/?hl=fr" target="_blank" class="card-link">

            <img src="../../../assets/icon/002-instagram.svg"  width="35px" alt="">
          </a>
          <a href="" target="_blank" class="card-link">

            <img src="../../../assets/icon/001-snapchat.svg"  width="35px" alt="">
          </a>

          <a href="https://twitter.com/easypunchline" target="_blank" class="card-link">

            <img src="../../../assets/icon/twitter.svg"  width="35px" alt="">
          </a>






        </ul>
      </div>


    </div>


</div>
<br><br><br>


</div>
