<br><br><br>



<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div id="your-privacy-matters" class="styles__privacy-container___2EmwY">

        <div style="text-align: center">
          <img src="../../../assets/image/cookie.svg" width="100px" class="test1" alt="" >
        </div>
        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Politique des cookies
        </h2>
        <div class="styles__section-copy___13zaO"><p>Un cookie de navigateur Internet est un petit bloc de données stocké
          sur votre appareil pour permettre aux sites Internet et applications mobiles de mémoriser certaines informations à votre sujet.
          D'autres technologies, notamment le stockage sur le web et les identifiants associés à votre appareil,
          peuvent être utilisées à des fins similaires. Dans cette politique, nous utilisons le terme "cookie" pour
          désigner toutes ces technologies.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">

        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Mode d'utilisation des cookies
        </h2>

        <div class="styles__section-copy___13zaO"><p>
          Easypunchline utilise des cookies pour plusieurs raisons : protéger vos données et votre compte Easypunchline,
          nous aider à identifier les fonctionnalités les plus appréciées, compter les visiteurs d'une page,
          améliorer l'expérience de nos utilisateurs, préserver la sécurité de nos services,
          et plus généralement vous offrir une meilleure expérience, plus intuitive et satisfaisante.
          </p>

        </div>
      </div>
    </section>
  </div>
</div>


<br>

<div class="container-fluid  container-card-homepage ">
  <div class="row justify-content-md-center">
    <section class="styles__section___2DluK">
      <div  class="styles__privacy-container___2EmwY">


        <br>

        <h2 class="styles__privacy-headline___2qqji styles__section-headline____pBdy">Contactez-nous</h2>

        <div class="styles__section-copy___13zaO">
          <p>Si vous avez des questions sur notre utilisation des cookies,
          n'hésitez pas à nous contacter.
          </p>

        </div>

      </div>
    </section>
  </div>
</div>


