

<br><br><br>

<div class="text-center">
  <img src="../../../assets/icon/error-404.svg"  width="300px" alt="">


</div>
<br>

<div class="text-center">

  <h2>En cours de developpement ;) </h2>

</div>
<!--

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm">
      <div class="card">


        <img src="../../../assets/image/image_accueil.png" alt="Avatar" style="width:100%">

        <div class="container">
          <h4><b>Titre 1</b></h4>
          <p>Texte</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm">
      <div class="card">
        <img src="../../../assets/image/image_accueil.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Titre 1</b></h4>
          <p>Texte</p>
        </div>
      </div>
    </div>



  </div>
</div>

-->
