

<h3 class="text-center" >EasyPunchline</h3><br>

<h5 class="text-center">Partagez votre punchline avec le monde.</h5>
<br><br>






  <div class="container">
    <div class="row">

  <div class="col-md-4">
    <div class="card card-homepage" style="height: 350px; border: 0px solid;">
      <br>
      <div class="card-header card-header-center" >
        <div class="moncercle" style="margin-left: auto; margin-right: auto;">
          <img src="../../../assets/image/brainstorming.svg"  height="100" alt="">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Penser votre Punchline</h5>
        <p class="card-text" style="text-align: center" >Pensez, imaginez, réfléchissez.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-homepage" style="height: 350px; border: 0px solid;">
      <br>
      <div class="card-header card-header-center" >
        <div class="moncercle" style="margin-left: auto; margin-right: auto;">
          <img src="../../../assets/image/edit.svg"  height="100" alt="">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Écrivez votre Punchline</h5>
        <p class="card-text" style="text-align: center" >Partagez votre punchline avec le monde.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-homepage" style="height: 350px; border: 0px solid;">
      <br>
      <div class="card-header card-header-center" >
        <div class="moncercle" style="margin-left: auto; margin-right: auto;">
          <img src="../../../assets/image/group.svg"  height="100" alt="">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Partagez votre Punchline</h5>
        <p class="card-text" style="text-align: center" >Partagez et soyez parmi les meilleurs.</p>

      </div>
    </div>
  </div>

</div>
</div>
