
<br><br><br>


<div class="container-fluid ">






 <div class="row">

    <div class="col-md-7 col-lg-7 align-self-center">

      <h3 class="text-center"> Disponible bientôt sur :</h3><br>
      <div class="row justify-content-center">
        <div class="col-6 align-self-center">

          <img src="../../../assets/image/app_store.png" width="150" alt="" >
          <img src="../../../assets/image/play_store.png" width="150"  alt="" >


        </div>

      </div>


    </div>
    <div class="col-md-3 col-lg-3">

      <img src="../../../assets/image/Telechargement.png" width="300px" alt="" >


    </div>
  </div>

</div>
<br><br><br>
