
<br>


<div class="position">
  <br><br><br>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4 align-self-center">
        <img src="../../../assets/image/logo_blanc.svg" class="logo" alt="" >
      </div>

      <div class="col col-lg-4 align-self-center">
        <br><br><br>
        <h3 class="titre" style="color: white" >EasyPunchline</h3><br>

        <p style="color: white">
          EasyPunchline est une entreprise d'application web.

          Notre but est de vous offrir une plateforme pour
          partager vos pensées, vos punchlines où autres avec vos amis et

          que vous vous amusiez.

          <br><br>
         <i> “Deux choses comptent : gagner et s’amuser. Gagner sans s’amuser n’a aucun intérêt.”</i>

          <br>
          De Roger Etcheto.


        </p>
      </div>
    </div>

    <br><br><br>

  </div>




</div>
